<div>
    <form name="AccStatusSetupForm" class="form-inline" ng-submit="addData();">
        <div class="row">
            <div class="col-md-12">
                <div ba-panel ba-panel-title="Account Status" ba-panel-class="with-scroll">
                    <div class="col-md-4">
                        <div class="input-group ">
                            <input type="text" class="form-control"
                                   title="Account Status ID" id="AccountStatusId"
                                   ng-model="AccStatusSetupModel.AccountStatusId"
                                   placeholder="Account Status ID" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control TextRequiredField" title="Account Status Name" id="AccountInfoSetupNm"
                                   validation-only-alphabets="true" ng-model="AccStatusSetupModel.AccountStatusName"
                                   placeholder="Account Status Name" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control TextRequiredField" title="Account Status Short Name" id="AccountInfoSetupNm"
                                   validation-only-alphabets="true" ng-model="AccStatusSetupModel.AccountStatusShortName"
                                   placeholder="Account Status Short Name" required>
                        </div>
                    </div>
                    <br />
                    <div class="input-group" style="padding-left:15px;">
                        <div class="input-group" ng-if="SubmitBtn==='Add'">
                            <br />
                            <button has-permission='Create' type="submit" class="btn btn-primary editable-table-button btn-xs">{{SubmitBtn}}</button>
                            <span> </span>
                            <button type="button" class="btn btn-primary editable-table-button btn-xs" ng-click="ClearFields()">Clear</button>
                        </div>
                        <div class="input-group" ng-if="SubmitBtn==='Update'">
                            <br />
                            <button has-permission='Edit' type="submit" class="btn btn-primary editable-table-button btn-xs">{{SubmitBtn}}</button>
                            <span> </span>
                            <button type="button" class="btn btn-primary editable-table-button btn-xs" ng-click="ClearFields()">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="AccStatusSetupTable" ba-panel ba-panel-title="Account Status Table" ba-panel-class="with-scroll" 
                     ng-init="loadData();">
                    <div include-with-scope="../../app/pages/AccStatusSetup/AccStatusSetupTable.html"></div>
                </div>
            </div>
        </div>
    </form>
</div>
