<div>
    <form name="UnionInfoForm" class="form-inline" ng-submit="addData();" novalidate>


        <div class="row" >
            <div class="col-md-12">
                <div ba-panel ba-panel-title="Union Info" ba-panel-class="with-scroll">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <label for="UnionId">Union Id</label>
                                <input type="text" class="form-control" id="UnionId" ng-model="UnionInfoModel.UnionId" placeholder="Union Id" ng-disabled="true">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="input-group">
                                <label for="UnionNm">Union Name</label>
                                <input type="text" class="form-control" id="UnionNm" ng-model="UnionInfoModel.UnionNm" title="Union Name" placeholder="Union Name"
                                       validation-field-required="true"
                                       validation-only-alphabets="true">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <label for="UnionShortNm">Union Short Name</label>
                                <input type="text" class="form-control" id="UnionShortNm" ng-model="UnionInfoModel.UnionShortNm" title="Union Short Name"
                                       placeholder="Union Short Name"
                                       validation-field-required="true"
                                      validation-only-alphabets="true">
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group ">
                                <label for="DistrictId">Upazila</label>
                                <ui-select ng-model="UnionInfoModel.UpazilaId"
                                           class="btn-group bootstrap-select form-control"
                                           ng-disabled="false"
                                           append-to-body="true"
                                           search-enabled="true"
                                           id="UpazilaId">
                                    <ui-select-match placeholder="Select With Search">
                                        {{$select.selected.Text}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="withSearchItem in UpazilaInfoForDD | filter: $select.search">
                                        <span ng-bind-html="withSearchItem.Text"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="input-group" ng-if="SubmitBtn==='Add'" >
                        <br />
                        <button  has-permission='Create' type="submit" class="btn btn-primary editable-table-button btn-xs" ng-disabled="UnionInfoForm.$invalid">{{SubmitBtn}}</button>
                        <span> </span>
                        <button  type="button" class="btn btn-primary editable-table-button btn-xs" ng-disabled="UnionInfoForm.$invalid" ng-click="ClearFields()">Clear</button>
                    </div>
                    <div class="input-group" ng-if="SubmitBtn==='Update'" >
                        <br />
                       
                        <button has-permission='Edit' type="submit" class="btn btn-primary editable-table-button btn-xs" ng-disabled="UnionInfoForm.$invalid">{{SubmitBtn}}</button>
                        <span> </span>
                        <button type="button" class="btn btn-primary editable-table-button btn-xs"  ng-click="ClearFields()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="UnionInfoTable" ba-panel ba-panel-title="Union Info Table" ba-panel-class="with-scroll" ng-init="loadData();">
                    <div include-with-scope="../../app/pages/UnionInfo/UnionInfoTable.html"></div>
                </div>
            </div>
        </div>
    </form>
</div>