<div>
<form name="activityLogForm" class="form-inline">
    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Activity Log">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <ui-select ng-model="ActivityLogModel.SearchType"
                                   class="btn-group bootstrap-select form-control"
                                   ng-disabled="false"
                                   append-to-body="true"
                                   search-enabled="true"
                                   ng-change="ClearTable()"
                                   id="SearchType">
                            <ui-select-match allow-clear="true" placeholder="Search by">
                                {{$select.selected.Text}}
                            </ui-select-match>
                            <ui-select-choices repeat="withSearchItem in SearchTypeForDD | filter: $select.search">
                                <span ng-bind-html="withSearchItem.Text"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div id="AccNo" ng-show="ActivityLogModel.SearchType.Value == '0'" class="col-md-12">
                    <br />
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" title="MFS Account No" class="form-control" id="WalletAccountNo"
                                   ng-model="ActivityLogModel.WalletAccountNo"
                                   placeholder="Enter Wallet Account No"
                                   ng-disabled="false">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <button type="button" class="btn btn-primary editable-table-button btn-xs" ng-click="SearchResult()">Search</button>
                            <button type="button" class="btn btn-primary editable-table-button btn-xs" ng-click="ClearFields()">Clear</button>
                        </div>
                    </div>
                </div>

                <div id="Date" ng-show="ActivityLogModel.SearchType.Value == '1'" class="col-md-12">
                    <br />
                    <div class="col-md-3">
                        <p class="input-group">
                            <span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon1">Form</span>
                            <input type="date"
                                   ng-model="ActivityLogModel.FormDate"
                                   id="FromDate"
                                   class="form-control"
                                   title="Start Date"
                                   placeholder="Form Date"
                                   value="0/0/0000"
                                   uib-datepicker-popup="dd/MM/yyyy"
                                   is-open="dpOpenStatus.withRequired" />
                            <span class="input-group-btn">
                            </span>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p class="input-group">
                            <span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon1">To</span>
                            <input type="date"
                                   ng-model="ActivityLogModel.ToDate"
                                   id="ToDate"
                                   class="form-control"
                                   title="To Date"
                                   placeholder="To Date"
                                   uib-datepicker-popup="dd/MM/yyyy"
                                   is-open="dpOpenStatusEnd.withRequired" />
                            <span class="input-group-btn">
                            </span>
                        </p>
                    </div>
                    <div class="col-md-12" style="padding-left:15px;">
                        <div class="input-group">
                            <button type="button" class="btn btn-primary editable-table-button btn-xs" ng-disabled="activityLogForm.$invalid" ng-click="SearchByDate()">Search</button>
                            <button type="button" class="btn btn-primary editable-table-button btn-xs" ng-click="ClearFields()">Clear</button>
                        </div>
                    </div>
                </div>

                    <!--<div id="Date" ng-show="ActivityLogModel.SearchType.Value == '1'" class="col-md-12">
            <br />
            <div class="col-md-4" style="z-index:1">
                <p class="input-group">
                    <input type="text"
                           ng-model="ActivityLogModel.FormDate"
                           id="FormDate"
                           class="form-control"
                           title="Start Date"
                           placeholder="Start Date"
                           uib-datepicker-popup="dd/MM/yyyy"
                           is-open="dpOpenStatus.withRequired" />
                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="setDpOpenStatus('withRequired', $event)">
                            <i class="ion-ios-calendar-outline"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-md-4" style="color:#0000FF">
                <p class="input-group">
                    <input type="date"
                           ng-model="ActivityLogModel.ToDate"
                           id="ToDate"
                           class="form-control"
                           title="End Date"
                           placeholder="End Date"
                           uib-datepicker-popup="dd/MM/yyyy"
                           is-open="dpOpenStatusEnd.withRequired" />
                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="setDpOpenStatusEnd('withRequired', $event)">
                            <i class="ion-ios-calendar-outline"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-md-12" style="padding-left:15px;">
                <div class="input-group">
                    <button type="button" class="btn btn-primary editable-table-button btn-xs" ng-disabled="activityLogForm.$invalid" ng-click="SearchByDate()">Search</button>
                    <button type="button" class="btn btn-primary editable-table-button btn-xs" ng-click="ClearFields()">Clear</button>
                </div>
            </div>
        </div>-->
                </div>
                <div id="ActivityLogTable" ba-panel ba-panel-title="Activity Log Table" ba-panel-class="with-scroll" ng-init="loadData();">
                    <div include-with-scope="../../app/pages/ActivityLog/ActivityLogTable.html"></div>
                </div>
            </div>
    </div>
</form>
</div>