<div>
    <form name="DivisionInfoForm" class="form-inline" ng-submit="addData();">
        <div class="row">
            <div class="col-md-12">
                <div ba-panel ba-panel-title="Division Info" ba-panel-class="with-scroll">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group ">
                                <input type="text" class="form-control" id="DivisionId" ng-model="DivisionInfoModel.DivisionId"
                                       title="Division Id" placeholder="Division Id" ng-disabled="true">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control TextRequiredField" id="DivisionNm" ng-model="DivisionInfoModel.DivisionNm"
                                       validation-only-alphabets="true" title="Division Name" placeholder="Division Name" required>
                                <span class="help-block error-block basic-block ">Required</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control TextRequiredField" id="DivisionShortNm" title="Division Short Name"
                                       validation-only-alphabets="true" ng-model="DivisionInfoModel.DivisionShortNm" 
                                       placeholder="Division Short Name" required>
                                <span class="help-block error-block basic-block ">Required</span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group ">
                                <ui-select ng-model="DivisionInfoModel.CountryId"
                                           title="Select Country"
                                           class="btn-group bootstrap-select form-control"
                                           ng-disabled="false"
                                           append-to-body="true"
                                           search-enabled="true"
                                           id="CountryId">
                                    <ui-select-match allow-clear="true" placeholder="Select Country">
                                        {{$select.selected.Text}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="withSearchItem in CountryInfoForDD | filter: $select.search">
                                        <span ng-bind-html="withSearchItem.Text"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="input-group">
                        <br />
                        <button type="submit" class="btn btn-primary editable-table-button btn-xs" 
                                ng-disabled="DivisionInfoForm.$invalid">{{SubmitBtn}}</button>
                        <span> </span>
                        <button type="button" class="btn btn-primary editable-table-button btn-xs" 
                                ng-click="ClearFields()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="DivisionInfoTable" ba-panel ba-panel-title="Division Info Table" ba-panel-class="with-scroll" 
                     ng-init="loadData();">
                    <div include-with-scope="../../app/pages/DivisionInfo/DivisionInfoTable.html"></div>
                </div>
            </div>
        </div>
    </form>
</div>