<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title></title>
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 80%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<div class="col-md-3">
    <div class="input-group TextRequiredField">
        <ui-select ng-model="DashboardModel.AccountTypeId"
                   class="btn-group bootstrap-select form-control"
                   ng-disabled="false"
                   append-to-body="true"
                   search-enabled="true"
                   title="Account Type"
                   required
                   on-select="onSelected($item)"
                   id="AccountTypeId">
            <ui-select-match allow-clear="true" placeholder="Select Account Type">
                {{$select.selected.Text}}
            </ui-select-match>
            <ui-select-choices repeat="withSearchItem1 in CustomerTypeForDD | filter: $select.search">
                <span ng-bind-html="withSearchItem1.Text"></span>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<div class="col-md-3">
    <div class="input-group TextRequiredField">
        <ui-select ng-model="DashboardModel.AccProfileId"
                   class="btn-group bootstrap-select form-control"
                   ng-disabled="false"
                   append-to-body="true"
                   search-enabled="true"
                   title="Customer"
                   required
                   id="AccProfileId">
            <ui-select-match allow-clear="true" placeholder="Select Customer">
                {{$select.selected.Text}}
            </ui-select-match>
            <ui-select-choices repeat="withSearchItem1 in CustomerForDD | filter: $select.search">
                <span ng-bind-html="withSearchItem1.Text"></span>
            </ui-select-choices>
        </ui-select>
    </div>
</div>


<div class="col-md-3">
    <p class="input-group">
        <span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon1">Form</span>
        <input type="date"
               ng-model="DashboardModel.StartDate"
               id="FromDate"
               class="form-control"
               title="Start Date"
               placeholder="Form Date"
               value="0/0/0000"
               uib-datepicker-popup="dd/MM/yyyy"
               is-open="dpOpenStatus.withRequired" />
        <span class="input-group-btn">
            <!--<button type="button"
                    class="btn btn-default"
                    ng-click="setDpOpenStatus('withRequired', $event)">
                <i class="ion-ios-calendar-outline"></i>
            </button>-->
        </span>
    </p>
</div>
<div class="col-md-3">
    <p class="input-group">
        <span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon1">To</span>
        <input type="date"
               ng-model="DashboardModel.EndDate"
               id="ToDate"
               class="form-control"
               title="To Date"
               placeholder="To Date"
               uib-datepicker-popup="dd/MM/yyyy"
               is-open="dpOpenStatusEnd.withRequired" />
        <span class="input-group-btn">
            <!--<button type="button"
                    class="btn btn-default"
                    ng-click="setDpOpenStatusEnd('withRequired', $event)">
                <i class="ion-ios-calendar-outline"></i>
            </button>-->
        </span>
    </p>
</div>

<div class="input-group" style="padding-left:15px;">
    <div class="input-group">
        <br />
        <button type="button" class="btn btn-primary editable-table-button btn-xs" ng-click="SubmitBtn()">Submit</button>
        <button type="button" class="btn btn-primary editable-table-button btn-xs" ng-click="ClearFields()">Clear</button>
    </div>
</div>
<div>
    <dashboard-pie-chart>
        <div class="row pie-charts">
            <div class="pie-chart-item-container" ng-repeat="chart in charts">
                <div ba-panel>
                    <div class="">
                        <div class="" rel="{{ ::chart.color }}" data-percent="60"> <span></span> </div>
                        <div class="description">
                            <div>{{ ::chart.description }}</div>
                            <div class="description-stats">{{ ::chart.stats }}</div>
                        </div>
                        <i class="chart-icon i-{{ ::chart.icon }}"></i>
                    </div>
                </div>
            </div>
        </div>
    </dashboard-pie-chart>

    <div class="row">
        <!--
        <div class="col-lg-6 col-md-12 col-sm-12"
             ba-panel
             ba-panel-title="Utility Service Bill"
             ba-panel-class="medium-panel traffic-panel">
            <traffic-chart>
                <div class="channels-block" ng-class="{'transparent': transparent}">
                    <div class="chart-bg"></div>
                    <div class="traffic-chart" id="trafficChart">
                        <div class="canvas-holder">
                            <canvas id="chart-area" width="280" height="280"></canvas>
                            <div class="traffic-text">
                                Collected Total<br> Utility Bill<br>Amount
                                <!--<div class="input-group"><input class="form-control" id="TotalUsb" ng-model="MainModel.TotalUsb" /></div>
                                <span>{{TotalUsb}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="channels-info">
                        <div>
                            <div class="channels-info-item" ng-repeat="label in doughnutData.labels"
                                 ng-init="i = $index; data = doughnutData.datasets[0]">

                                <div class="legend-color" style="background-color: {{::data.backgroundColor[i]}}"></div>
                                <p>{{::label}}<span class="channel-number">{{data.percentage[i]}}</span></p>
                                <div class="progress progress-sm channel-progress">
                                    <div class="progress-bar " role="progressbar"
                                         aria-valuenow="{{data.percentage[i]}}" aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{item.percentage}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </traffic-chart>
        </div>-->
        <div class="col-lg-6 col-md-12 col-sm-12"
             ba-panel
             ba-panel-title="Utility Bill">
            <div class="col-lg-12 col-md-12 col-sm-12"
                 ba-panel
                 ba-panel-title="Total Utility Bill"
                 ba-panel-class="small-panel">
                {{TotalUsb}}
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12"
                 ba-panel
                 ba-panel-title="DESCO"
                 ba-panel-class="small-panel">
                Amount:{{TotalUsb}}<br />
                No of Bill: {{NoOfUsb}}
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12"
                 ba-panel
                 ba-panel-title="DPDC"
                 ba-panel-class="small-panel">

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12"
                 ba-panel
                 ba-panel-title="WASA"
                 ba-panel-class="small-panel">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12"
                 ba-panel
                 ba-panel-title="BDGCL"
                 ba-panel-class="small-panel">

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12"
                 ba-panel
                 ba-panel-title="NSU"
                 ba-panel-class="small-panel">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12"
                 ba-panel
                 ba-panel-title="BRAC"
                 ba-panel-class="small-panel">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12"
             ba-panel
             ba-panel-title="Transactions">
            <div class="col-lg-6 col-md-12 col-sm-12"
                 ba-panel
                 ba-panel-title="Cash In"
                 ba-panel-class="small-panel">
                {{CashIn}}
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12"
                 ba-panel
                 ba-panel-title="Cash Out"
                 ba-panel-class="small-panel">
                {{CashOut}}
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12"
                 ba-panel
                 ba-panel-title="Fund In"
                 ba-panel-class="small-panel" ng-show="AccountTypeId=='001'">

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12"
                 ba-panel
                 ba-panel-title="Fund Out"
                 ba-panel-class="small-panel" ng-show="AccountTypeId=='001'">
            </div>
        </div>

    </div>
</div>
