<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <td>#</td>
            <td>City Id</td>
            <td>City Name</td>
            <td>City Short Name</td>
            <td>Division</td>
            <td>Action</td>
        </tr>
        <tr ng-repeat="item in CityInfoList">
            <td><span> {{$index + 1}} </span></td>
            <td><span> {{item.CityId}} </span></td>
            <td><span> {{item.CityNm}} </span></td>
            <td><span> {{item.CityShortNm}} </span></td>
            <td><span> {{item.DivisionNm}} </span></td>
            <td>
                <span>
                    <button has-permission='Edit' type="button" class="btn btn-primary editable-table-button btn-xs" ng-click="changeCityInfo($index)">Change</button>
                    <button has-permission='Delete' type="button" class="btn btn-danger editable-table-button btn-xs" ng-click="deleteCityInfo($index)">Delete</button>
                </span>
            </td>
        </tr>
    </table>
</body>
</html>
