<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <td>#</td>
            <td>Id</td>
            <td>Category</td>
            <td>Type</td>
            <td>Service</td>
            <td>Frequency</td>
            <td>Type</td>
            <td>Value</td>
            <td>Action</td>
        </tr>
        <tr ng-repeat="item in AccTypeWiseTargetList">
            <td><span> {{$index + 1}} </span></td>
            <td><span> {{item.TargetSlNo}} </span></td>
            <td><span> {{item.AccCategoryNm}} </span></td>
            <td><span> {{item.AccountTypeNm}} </span></td>
            <td><span> {{item.ServiceNm}} </span></td>
            <td><span> {{item.CalenderPrdName}} </span></td>
            <td><span> {{item.TransTypeName}} </span></td>
            <td><span> {{item.Amount}} </span></td>
            <td>
                <span>
                    <button type="button" class="btn btn-primary editable-table-button btn-xs" ng-click="changeAccTypeWiseTarget($index)">Change</button>
                    <!--<button type="button" class="btn btn-danger editable-table-button btn-xs" ng-click="deleteAccTypeWiseTarget($index)">Delete</button>-->
                </span>
            </td>
        </tr>
    </table>
</body>
</html>
