<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <td>#</td>
            <td>Status Wise Service Id</td>
            <td>Define Service Name</td>
            <td>Account Status Setup Name</td>
            <td>Action</td>
        </tr>
        <tr ng-repeat="item in StatusWiseServiceList">
            <td><span> {{$index + 1}} </span></td>
            <td><span> {{item.StatusWiseServiceId}} </span></td>
            <td><span> {{item.DefineServiceNm}} </span></td>
            <td><span> {{item.AccountStatusName}} </span></td>
            <td>
                <span>
                    <button type="button" class="btn btn-primary editable-table-button btn-xs" ng-click="changeStatusWiseService($index)">Change</button>
                    <!--<button type="button" class="btn btn-danger editable-table-button btn-xs" ng-click="deleteStatusWiseService($index)">Delete</button>-->
                </span>
            </td>
        </tr>
    </table>
</body>
</html>
