<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <td>#</td>      
            <td>Service Id</td>
            <!--<td>Charge</td>-->
            <td>Vat</td>
            <td>GLAccount</td>
            <td>Action</td>
        </tr>
        <tr ng-repeat="item in CommissionSetupList">
            <td><span> {{$index + 1}} </span></td>
            <td><span> {{item.DefineServiceId}} </span></td>
            <!--<td><span> {{item.Charge}} </span></td>-->
            <td><span> {{item.Vat}} </span></td>
            <td><span> {{item.GLAccount}} </span></td>
            <td>
                <span>
                    <button type="button" class="btn btn-primary editable-table-button btn-xs" ng-click="changeCusType($index)">Change</button>
                    <!--<button type="button" class="btn btn-danger editable-table-button btn-xs" ng-click="deleteCusType($index)">Delete</button>-->
                </span>
            </td>
        </tr>
    </table>
</body>
</html>
