<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <td>#</td>
            <td> Id</td>
            <td>Account Type</td>
            <td>Account Category</td>
            <td>Account Service</td>
            <td>Action</td>
        </tr>
        <tr ng-repeat="item in CusTypeWiseServiceList">
            <td><span> {{$index + 1}} </span></td>
            <td><span> {{item.CusTypeWiseServiceId}} </span></td>
            <td><span> {{item.AccountTypeNm}} </span></td>
            <td><span> {{item.AccCategoryNm}} </span></td>
            <td><span> {{item.ServiceNm}} </span></td>
            <td>
                <span>
                    <button has-permission='Edit' type="button" class="btn btn-primary editable-table-button btn-xs" ng-click="changeCusTypeWiseService($index)">Change</button>
                    <button has-permission='Delete' type="button" class="btn btn-danger editable-table-button btn-xs" ng-click="deleteCusTypeWiseService($index)">Delete</button>
                </span>
            </td>
        </tr>
    </table>
</body>
</html>
