<div>
    <form name="PSInfoForm" class="form-inline" ng-submit="addData();">
        <div class="row">
            <div class="col-md-12">
                <div ba-panel ba-panel-title="Police Station Info" ba-panel-class="with-scroll">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group ">
                                <input type="text" class="form-control" id="PoliceStationId" title="Police Station Id"
                                       ng-model="PSInfoModel.PoliceStationId" placeholder="Police Station Id" ng-disabled="true">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control TextRequiredField" id="PoliceStationNm" title="Police Station Name"
                                       validation-only-alphabets="true" ng-model="PSInfoModel.PoliceStationNm" 
                                       placeholder="Police Station Name" required>
                                <span class="help-block error-block basic-block ">Required</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control TextRequiredField" id="PoliceStationShortNm" title="Police Station Short Name"
                                       validation-only-alphabets="true" ng-model="PSInfoModel.PoliceStationShortNm" 
                                       placeholder="Police Station Short Name" required>
                                <span class="help-block error-block basic-block ">Required</span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group ">
                                <ui-select ng-model="PSInfoModel.UpazilaId"
                                           title="Select Upazila"
                                           class="btn-group bootstrap-select form-control"
                                           ng-disabled="false"
                                           append-to-body="true"
                                           search-enabled="true"
                                           id="UpazilaId">
                                    <ui-select-match allow-clear="true" placeholder="Select Upazila">
                                        {{$select.selected.Text}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="withSearchItem in UpazilaInfoForDD | filter: $select.search">
                                        <span ng-bind-html="withSearchItem.Text"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div> 
                    <br />
                    <div class="input-group">
                        <br />
                        <button type="submit" class="btn btn-primary editable-table-button btn-xs" 
                                ng-disabled="PSInfoForm.$invalid">{{SubmitBtn}}</button>
                        <span> </span>
                        <button type="button" class="btn btn-primary editable-table-button btn-xs" 
                                ng-click="ClearFields()">Clear</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="PSInfoTable" ba-panel ba-panel-title="Police Station Info Table" ba-panel-class="with-scroll" 
                     ng-init="loadData();">
                    <div include-with-scope="../../app/pages/PSInfo/PSInfoTable.html"></div>
                </div>
            </div>
        </div>
    </form>
</div>