<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <td>#</td>
            <td>Configuration Id</td>
            <td>Introducer Control Flag</td>
            <td>Email Flag</td>
            <td>SMS Flag</td>
            <td>Promo Code Length</td>
            <td>Promo Code Format Name</td>
            <td>Total No. of Use for Introducer</td>
            <td>Total No. of Use</td>
            <td>Action</td>
        </tr>
        <tr ng-repeat="item in PromoCodeConfigList">
            <td><span> {{$index + 1}} </span></td>
            <td><span> {{item.ConfigurationId}} </span></td>
            <td>
                <span ng-if="item.IntroducerControlFlag == '1'">
                    <i class="ion-checkmark-round"></i>
                </span>
                <span ng-if="item.IntroducerControlFlag == '0'">
                    <i class="ion-close-round"></i>
                </span>
            </td>
            <td>
                <span ng-if="item.EmailFlag == '1'">
                    <i class="ion-checkmark-round"></i>
                </span>
                <span ng-if="item.EmailFlag == '0'">
                    <i class="ion-close-round"></i>
                </span>
            </td>
            <td>
                <span ng-if="item.SMSFlag == '1'">
                    <i class="ion-checkmark-round"></i>
                </span>
                <span ng-if="item.SMSFlag == '0'">
                    <i class="ion-close-round"></i>
                </span>
            </td>
            <td><span> {{item.PromoCodeLength}} </span></td>
            <td><span> {{item.TokenFormatName}} </span></td>
            <td><span> {{item.TotalNoOfUseForIntroducer}} </span></td>
            <td><span> {{item.TotalNoOfUse}} </span></td>
            <td>
                <span>
                    <button has-permission='Edit' type="button" class="btn btn-primary editable-table-button btn-xs" ng-click="changePromoCodeConfig($index)">Change</button>
                    <!--<button has-permission='Delete' type="button" class="btn btn-danger editable-table-button btn-xs" ng-click="deletePromoCodeConfig($index)">Delete</button>-->
                </span>
            </td>
        </tr>
    </table>
</body>
</html>